In [2]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   robot
1   human
2   robot
3   robot
4   robot
5   robot
6   human
7   human
8   human
9   human
10  human
11  robot
12  robot
13  robot
14  human
15  human
16  human
17  robot
18  robot
19  human

In [5]:
lstHuman = []

In [7]:
lstRobot = []

In [8]:

for i in data['whoAmI']:
  if i == 'human':
    lstHuman.append('1')
    lstRobot.append('0')
  else:
    lstRobot.append('1')
    lstHuman.append('0')

In [10]:
data['human'] = lstHuman
data['robot'] = lstRobot

In [11]:
data

   whoAmI human robot
0   robot     0     1
1   human     1     0
2   robot     0     1
3   robot     0     1
4   robot     0     1
5   robot     0     1
6   human     1     0
7   human     1     0
8   human     1     0
9   human     1     0
10  human     1     0
11  robot     0     1
12  robot     0     1
13  robot     0     1
14  human     1     0
15  human     1     0
16  human     1     0
17  robot     0     1
18  robot     0     1
19  human     1     0